@mixin font-big() {
    line-height: 120%;
    font-size: clamp(28px, 10vw, 48px);
    font-weight: 500;
    letter-spacing: -0.01em;
}

@mixin font-normal() {
    line-height: 120%;
    font-size: clamp(16px, 3vw, 24px);
    font-weight: 500;
    letter-spacing: -0.01em;
}

$indents: 75px * 2;
$mobile-width: 328px;

$dark-color: #1F1F1F;
$light-color: #FFFFFF;

.service {
    &__wrapper {
        width: max((100% - $indents), $mobile-width);
        margin-inline: auto;
    }

    &__title {
        @include font-big();
        color: $dark-color;
        margin-bottom: clamp(20px, 5%, 58px);
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: clamp(50px, 1rem + 4vw, 80px);

        border: 1px solid $dark-color;
        border-radius: 100px;
        background-color: unset;

        cursor: pointer;
        @include font-normal();
        margin-top: 60px;

        transition: all 500ms;
        &:hover {
            background-color: $dark-color;
            color: $light-color;

        }
    }
}
